@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

:root {
    --green: #adc5ea;
    --black: #192a56;
    --light-color: #666;
    --mostaza: #A36D00;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}



html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    /* text-align: center; */
    margin-bottom: 1rem;
    color: var(--green);
    font-size: 3rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.botonsimple {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 1rem;
}

.botonsimple:hover {
    background: var(--green);
    /* letter-spacing: 0.1rem; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--green);
}
header .icons #menu-bars {
    display: none;
}

header .nav1 a {
    font-size: 1.7rem;
    margin-right: 2rem;
    background: var(--mostaza);
    /* border: 1px solid black; */
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: white;
}

header .nav1 a:hover {
    color: #fff;
    background: var(--black);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* margin-top: 1rem; */
    background-color: #f9f9f9;
    min-width: 30rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.first-p{
    font-size: 1.7rem;
    border-bottom: 1px solid rgb(185, 185, 185);
    margin-bottom: 1rem;
}

.second-p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

header .icons {
    display: flex;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}
header .icons form {
    display: inline;
}
header .icons form a {
    background-color: white;
}
header .icons form a:hover {
    background-color: white;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}
/*------------- User Navbar ----------------- */
.contenedorUser {
    margin-left: 0.5rem;
    position: relative;
    top: -0.2rem;
}
.imgUser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btnUser {
    background: white;
}
.btnUser:hover {
    cursor: pointer;
}
.showUser {
    display: none;
    position: absolute;
    background: white;
    z-index: 10;
    border-radius: 0.5rem;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0.5rem 0.5rem 2rem 1rem rgba(0, 0, 0, 0.1);
    max-width: 20rem;
    min-width: 20rem;
    top: 5.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
    overflow: hidden;
}
.perfilUser {
    display: block;
    margin-left: 0rem !important;
    transition: none;
    max-width: 100%;
    min-width: 100%;
    border-radius: 0rem !important;
    color: var(--black);
    font-weight: 700;
}

.perfilUser:not(.perfilUser:nth-last-child(1)) {
    border-bottom: 1px solid rgb(192, 192, 192);
}
.perfilUser:hover {
    color: var(--black) !important;
    font-size: 2rem;
}
/*------------- User Navbar End ----------------- */
/* ------------------ footer section ----------------------------------- */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    color: #192a56;
}

.footer .box-container .box a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.footer .box-container .box a:hover {
    color: #adc5ea;
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color: #192a56;
    padding: 0.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: #adc5ea;
}

/* ---------------------- -----------------------*/

.payment-form{
	padding-bottom: 50px;
}

/* .payment-form.dark{
	background-color: #f6f6f6;
} */

/* .payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
} */

.payment-form .block-heading{
    margin-top: 4rem ;
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.payment-form .block-heading h2{
    font-size: 4rem;
}
.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
    font-size: 1.7rem;
	/* opacity:0.7; */
}

/* .payment-form.dark .block-heading p{
	opacity:0.8;
} */

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #374d83;
}

.payment-form form{
	border-top: 2px solid #374d83;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.payment-form .title{
	font-size: 2.5rem !important;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 700;
	padding-bottom: 8px;
}

.payment-form .products{
	background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
	margin-bottom:1em;
    font-size: 1.6rem;
}

.payment-form .products .item-name{
	font-weight:600;
}

.payment-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 1.4rem;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
    font-size: 2rem;
}

.payment-form .card-details{
	padding: 25px 25px 15px;
}

.payment-form .card-details label{
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 0.8rem;
    margin-top: 1rem;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .card-details button{
	margin-top: 2rem;
    background: var(--black);
    border: none;
    font-size: 1.7rem;
	padding:0.8rem 2rem;
	font-weight: 600;

}
.payment-form .card-details button:hover{
    background: var(--green);
}

.payment-form .date-separator{
    font-size: 1.4rem;
 	margin-left: 1rem !important;
    margin-right: 1rem !important;

}

.payment-form .card-details input{
    padding: 0.4rem 1rem;
    opacity: 0.8;
    font-size: 1.5rem;
}



/*--------------------- ESTILOS CARD SUSCRIPCION END----------------------*/

/* media queries  */
@media (max-width: 1200px) {
    header .icons #menu-bars {
        display: inline-block;
    }

    header .nav1 {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .nav1.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nav1 a {
        display: block;
        color: white;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--mostaza);
    }

    header .nav1 a:hover {
        background: var(--black);
    }
}
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .showUser {
        top: 6rem;
    }
}

@media (max-width: 768px) {
    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }

    .showUser {
        top: 6rem;
    }

    .menu .box-container .box {
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .dishes .box-container .box img {
        height: auto;
        width: 100%;
    }

    .order form .inputBox .input {
        width: 100%;
    }

    .showUser {
        top: 6rem;
    }

    .menu .box-container .box {
        max-width: 100%;
    }
}
